<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{customer.list}"></title>
</head>
<body>
<a href="/create-customer" th:value="#{create.customer}"></a>
<h1>Customers</h1>
<table border="1">
  <tr>
    <th th:text="#{first.name}"></th>
    <th th:text="#{last.name}"></th>
    <th th:text="#{province}"></th>
    <th th:text="#{edit.button}"></th>
    <th th:text="#{delete.button}"></th>
  </tr>
  <th:block th:each="customer : ${customers}">
    <tr>
      <td th:text="${customer.firstName}"></td>
      <td th:text="${customer.lastName}"></td>
      <td th:if="${customer.province}" th:text="${customer.province.name}"></td>
      <td th:unless="${customer.province}"></td>
      <td><a th:href="@{/edit-customer/__${customer.id}__ }" th:text="#{edit.button}"></a></td>
      <td><a th:href="@{/delete-customer/__${customer.id}__ }" th:text="#{delete.button}"></a></td>
    </tr>
  </th:block>
</table>
</body>
</html>